<% articles.forEach(article=> { %>
    <% if (!article.hidden) { %>
        <div class="card mb-4 mx-2" style="width: 18rem; padding: 8px;">
        <a href="/blog/<%= article.slug %>">
            <img src="<%= article.cover_image %>" class="card-img-top article-card-img">
        </a>
        <div class="card-header"
            style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
            <%= article.title %>
        </div>
        <div class="card-body">
            
            <h6 class="card-subtitle mb-2"
                style="font-size: small;">
                <%= new Date(article.create_date).toDateString() %>
            </h6>
            
            <tt class="card-text card-tags"
                style="font-size: small; float: right;">
                <%= article.tags%>
            </tt>
        </div>
        </div>
    <% } %>
<% }) %>