<div class="container">
    <%- include('navbar') %>
    <hr />
    <%- include('../introduction') %>
    <hr />
    <%- include('../about') %>
    <hr />
    <%- include('../skills') %>
    <hr />
    <%- include('../portfolio') %>
    <hr />
    <%- include('../contact') %>
</div>