<nav class="sticky-top navbar navbar-expand-lg mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="spinny-logo" src="img/favicon-big.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <% for(var nav in navBar) { %>
                    <li class="nav-item">
                        <% if (path !='/' ) { %>
                            <a class="text-decoration-none d-block text-center" href="/<%= navBar[nav].link %>">
                                <% } else {%>
                                    <a class="text-decoration-none d-block text-center"
                                        href="<%= '../' + navBar[nav].link %>">
                                        <% } %>
                                            <img class="mx-auto d-block" src="<%= navBar[nav].img %>">
                                            <%= navBar[nav].title %>
                                    </a>
                    </li>
                    <% }%>
            </ul>
            <%- include('../partials/dark-mode-selector') %>
            <%- include('../partials/scroll-mode-selector') %>
        </div>
    </div>
</nav>