<% extend('../layout') %>

<div class="dialog-box">
<div class="card article-card mb-3">
    <img src="<%= article.cover_image %>" class="card-img-top article-card-img-top">
    <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"><%= article.description %></p>
        <p class="card-text"><small class="text-muted"><%= article.create_date.toLocaleDateString() %></small></p>
        <hr>
        <p class="card-text">
            <%- article.html %>
        </p>
    </div>
    <div class="card-footer text-muted">
        tags: <code class="card-tags" style="float: right;"><%= article.tags %></code>
    </div>
</div>
</div>